.title {
  font-family: 'Proza Libre';
  @apply font-bold justify-start;

  // span {
  //   display: inline-block;
  //   opacity: 0;
  //   transform: translateY(25px);
  // }

  .space {
    min-width: 15px;
  }

  // @for $i from 1 to 100 {
  //   span:nth-child(#{$i}) {
  //     transition-delay: $i * 0.01s;
  //   }
  // }
}

.title--dash {
  @apply text-blue;
  font-size: 2.75rem;
}

.ms-title {
  @apply font-bold text-6xl;
}
.ms-title-medium {
  @apply font-bold text-5.8xl ;
}
.ms-subtitle {
  letter-spacing: 0.2em;
  @apply uppercase text-sm font-semibold font-plex;
}
.ms-subtitle-bis {
  letter-spacing: 0.1em;
  @apply uppercase text-lg font-plex text-ms-gray-dark;
}
.ms-subtitle-small {
  @apply leading-normal text-2xl font-plex;
}
.ms-small {
  @apply font-semibold font-plex text-sm;
  letter-spacing: 0.2em;
}
.ms-text {
  @apply font-semibold font-plex text-lg;
  letter-spacing: 0.2em;
}
.ms-description {
  @apply leading-normal font-plex;
}
.ms-menu-item {
  .nuxt-link-active {
    a {
      @apply font-bold text-black;
    }
    .dot {
      @apply block;
    }
  }
}
// span {
//   display: inline-block;
//   opacity: 0;
//   transform: translateY(25px);
// }
