@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('/fonts/#{$file-path}.ttf');
    font-weight: $font-weight;
    font-style: $font-style;
    unicode-range: U+0000-00FF,
      U+0131,
      U+0152-0153,
      U+02BB-02BC,
      U+02C6,
      U+02DA,
      U+02DC,
      U+2000-206F,
      U+2074,
      U+20AC,
      U+2122,
      U+2191,
      U+2193,
      U+2212,
      U+2215,
      U+FEFF,
      U+FFFD;
  }
}

// @include font-face(OpenSans, OpenSans-Regular, 400, normal);
// @include font-face(OpenSans, OpenSans-SemiBold, 600, normal);
// @include font-face(OpenSans, OpenSans-Bold, 700, normal);
// @include font-face(OpenSans, OpenSans-ExtraBold, 800, normal);
// @include font-face(ProzaLibre, ProzaLibre-Bold, 800, normal);
