@(name: String, identifier: String, pwd: String, siteUrl: String, mailSign: String)(implicit messages: Messages)
<html>
<head><meta charset="utf-8"></head>
<body>
<p>@Messages("web.mail.welcome.hello", name)</p>
<p>@Messages("web.mail.welcome.prelink")</p>
<span>Identifiant: @identifier</span><br/>
<span>Mot de passe: <b>@pwd</b></span><br/>
<a href="@siteUrl">Connectez-vous</a>
<p>@Messages("web.mail.welcome.postlink")</p>
<p>@mailSign
    <br>
    @if(Messages("web.mail.address") != "web.mail.address"){
        <span>@Messages("web.mail.address")</span>
    }
</p>
</body>
